.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#canvas-name{
  margin: auto;
  text-align: center;
}

#canvas{
  cursor: crosshair;
}

#message-list{
  position: relative;
  bottom: 0;
}
/*
#chat-input{
	position: absolute; 
	bottom: 0;
}
#chats{
	margin: 91px;
}
#chat-container{
	border: 1px solid #999; right:0; position: absolute; bottom: 0; margin: 0 150px; 
}

#message-list{ 
	padding: 1px; 
}*/