.App-Title {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

#canvas-name{
  margin: auto;
  text-align: center;
}

#canvas{
  cursor: crosshair;
}

#message-list{
  position: relative;
  bottom: 0;
  border: 1px solid red
}

#canvas-names {
  cursor: pointer;
}
#logout-button{
  margin-right: 5px ;
  float: right;
}

.row{
  border: 1px solid black;
}

#message-sender{
  text-align: right;

}
#message{
  text-align: right
}
#chat-container{
  border: 1px solid blue;
}
