.App-Title {
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
/*.row{
  border: 1px solid black;
}*/
input{
  text-align: center;
}
#logout-button{
  margin-right: 5px ;
  float: right;
}

/*    CANVAS       */
#canvas-name{
  margin: auto;
  text-align: center;
  font-family: 'Herculanum', Arial;
}
#canvas{
  cursor: crosshair;
}
#canvas-tool{
  float: right
}
#canvas-names {
  cursor: pointer;
}
#canvas-history{
  height: 400px;
  overflow: scroll;
}


/*    CHAT       */
#chat-container{
  /*border: 1px solid blue;*/
  height: 500px;
  width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#message-list{
  position: relative;
  bottom: 0;
  /*border: 1px solid red;*/
  height: 500px;
  width: 350px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

#message{
  text-align: right;
  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 20px;
}

#message-sender{
  text-align: left;
  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 20px;
}







